body {
  font: 400 1em "PT Serif Caption", serif;
  color: #000;
  background-color: #fff;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  height: 15vh;
  padding: 5px 80px;
  background-color: #ff7400;
}
.header .info {
  float: left;
}
.header h1 {
  padding: 30px 0;
  font-size: 1.8em;
  color: #fff;
}
.header p {
  padding-left: 60px;
  font-size: 1.1em;
  font-style: italic;
  color: #fff;
}
.header-photo {
  float: right;
  width: 140px;
  padding: 5px;
  border-radius: 50%;
}
.personal-info {
  float: left;
  width: 32%;
  height: 80vh;
  background-color: #ffbf40;
}
.personal-info section {
  margin-bottom: 20px;
}
.personal-story {
  float: right;
  width: 68%;
  height: 80vh;
  background-color: #6c8cd5;
}
.personal-story h2,
.personal-info h2 {
  margin-bottom: 4px;
  padding: 10px;
  font-size: 1.1em;
  color: #fff;
  text-align: left;
}
.personal-story p,
.personal-story ul,
.personal-info p,
.personal-info ul {
  margin-bottom: 10px;
  padding-left: 35px;
  padding-right: 15px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  color: #000;
}
.personal-info ul:first-child {
  margin-top: 5px;
}
.personal-info li,
.personal-story li {
  margin-bottom: 5px;
}
.basic-skills {
  font-weight: bold;
}
.basic-skills ul li {
  font-weight: normal;
}
.personal-info span,
.personal-story span {
  display: block;
  font-weight: normal;
}
.personal-story .speciality::before,
.personal-story .position::before {
  content: " * ";
}
.personal-story .period {
  font-style: italic;
}
.footer {
  clear: both;
  height: 5vh;
  padding-top: 10px;
  text-align: center;
  background-color: #009999;
}
